div {
  background-color: orange;
  color: white;
  padding: 20px;
  margin: 10px;
}
h1 {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 40px;
}
li {
  background-color: blueviolet;
  color: black;
  padding: 10px;
  font-size: 20px;
  color: rgb(12, 222, 12);
}
h3 {
  text-align: center;
  background-color: white;
  color: rgb(17, 15, 15);
  font-size: 20px;
}
p {
  font-size: 20px;
  background-color: red;
  padding: 30px;
}
